<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/styleview2.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <title>Experience</title>
  <style>
    .navbarAddition {
      background-image: url("/img/bannerKeyboard.png");
      background-repeat: no-repeat;
      background-size: cover
    }
  </style>
</head>

<body>
  <nav class="navbarAddition navbar sticky-top navbar-expand-lg">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">

      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item active ">
          <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" href="/about_me">About</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" href="/experience" aria-disabled="true">Experience</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" href="/education" aria-disabled="true">Education</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" href="/languages" aria-disabled="true">Languages</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" href="/skills" aria-disabled="true">Skills</a>
        </li>
      </ul>
      <!-- <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                  </form>  -->
    </div>
  </nav>


  <div class="container">
    <h1 class="negrita">Experience</h1>
    <div class="row ">

      <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 centro">

        <div class="colum1Exp">
          <h1>Francisco José de Caldas District University</h1>
          <img class="logoExp" src="/img/universidadDistrital.jpg">
        </div>
      </div>

      <div class=" col-xl-6 col-lg-6 col-md-12 col-sm-12">

        <p><span class="expTit">Responsibilities: </span> Responsible for the coordination and production of virtual sessions of software teaching in telecommunications and development of web pages in different subjects of the Telecommunications Engineering curriculum, as well as support in the technical area of ​​the activities carried out daily with the software rooms and laboratory computation. Elaboration of failure reports in the different devices from the platform developed for this purpose.</p>
  
        <h1 class="exph1">
          <p class="expTit">Achievements:</p>
        </h1>
        <ul class="listWith">
          <li>Preparation of virtual sessions to support the subjects such as application development, mobile communications and microwaves.</li>
        </ul>
        <ul class="list">
          <li>July 29th 2.019 to date</li>
        </ul>
  
       </div>

     </div>

    <div class="row">
      <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 centro">
        <div class="colum1Exp">
        <h1>ZTE Corporation Colombia</h1>
        <img class="logoExp" src="/img/zteLogo.png">
        </div>
     </div>

     <div class=" col-xl-6 col-lg-6 col-md-12 col-sm-12">

      <p class="expContent"><span class="expTit">Responsibilities: </span> Leadership in test execution,installation and configuration services remotely such as Dedicated Internet Access, MPLS, intranet, extranet, PL Ethernet, Wireless Access Point like Meraki and Aruba in order to deliver it to the final customer;
      perform inspection and configuration when there is a service problem. Document the tests before the activities and carry out the start-up using different platforms.     
      Updating of information systems after making changes to ports or nodes, as well as the release of resources.</p>

      <h1 class="exph1">
        <p class="expTit">Achievements:</p>
      </h1>
      <ul class="listWith">
        <li>The improvement of updating information process about BBVA platforms.</li>
      </ul>
      <ul class="list">
        <li>March 20th 2.018 – February 15th 2.019</li>
      </ul>

     </div>

      </div>
  
  </div>

  <footer>

    <div class="container-footer-all">

      <div class="container-body">

        <div class="colum1">
          <h1>If you are interested in the following services:</h1>
          <ul class="list2">
            <li>Web page creation with a great responsive design</li>
            <li>Database system either SQL or MongoDB</li>
            <li>Great JavaScript Development</li>
            <li>Backend Development through NodeJS
            <li>Connection between web pages and SQL through PHP</li>
          </ul>

        </div>



        <div class="colum2">

          <h1>Feel free to contact me:</h1>

          <div class="row2">
            <img src="/img/house.png">
            <label>Bogotá-Colombia</label>
          </div>

          <div class="row2">
            <img src="/img/smartphone.png">
            <label>+571 3111111111</label>
          </div>

          <div class="row2">
            <img src="/img/contact.png">
            <label>2020@gmail.com</label>
          </div>

        </div>

      </div>

    </div>

    <div class="container-footer">
      <div class="footer">
        <div class="copyright">
          Copyright © 2020 All Rights Reserved | Lorena Sánchez
        </div>

      </div>

    </div>

  </footer>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
    integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
    crossorigin="anonymous"></script>
</body>

</html>