<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <title>Inicio</title>
     <style>
          .navbarAddition  {
    /* background-image: url("/img/gifBack.gif");  */
   background-color: transparent !important; 
   background-repeat: no-repeat;
   background-size: cover; /* para que el background ocupe toda la pantalla */
   /* min-width: 100%; */
    position: fixed; 
     
   
 }
       
    </style>
</head>
<body>
    <nav id="navjs" class="navbarAddition sticky-top navbar navbar-expand-lg "> <!-- quité el sticky-top de las clases -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          
          <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active ">
              <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item ">
              <a class="nav-link" href="/about_me">About</a>
            </li>
            <li class="nav-item ">
              <a class="nav-link" href="/experience" aria-disabled="true">Experience</a>
            </li>
            <li class="nav-item ">
              <a class="nav-link" href="/education" aria-disabled="true">Education</a>
            </li>
            <li class="nav-item ">
              <a class="nav-link" href="/languages" aria-disabled="true">Languages</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="/skills" aria-disabled="true">Skills</a>
              </li>
          </ul>
          <!-- <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>  -->
        </div>
      </nav> 
      <main class="contenedorImg">
        <img class="img" src="/img/bannerKeyboard.png" alt="Background">
      </main>
     <div class="retrato">
       <div class="contenedorRetrato">
        <img src="/img/andreaSanchez.jpg" alt="foto">
      </div>
     </div>
      <div class="container bodcolor">
        <h1 class="">Hello and Welcome to <b class="negrita">Lorena Sánchez's</b> Page, I invite you to know more about me through this page!</h1>
      <br>
      <h2>In the images below you will see a little bit about my projects:</h2>
      </div>
       <!-- CARROUSEL -->

       <div class="contraer">
        
          <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel" data-interval="2500">
            <ol class="carousel-indicators">
              <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
              <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
              <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
              <li data-target="#carouselExampleCaptions" data-slide-to="3"></li>
              <li data-target="#carouselExampleCaptions" data-slide-to="4"></li>
              <li data-target="#carouselExampleCaptions" data-slide-to="5"></li>
              <li data-target="#carouselExampleCaptions" data-slide-to="6"></li>
              <li data-target="#carouselExampleCaptions" data-slide-to="7"></li>
              
            </ol>
            <div class="carousel-inner">
              <div class="carousel-item active" data-interval="2500">
                <a href=""><img width="100%" height="600px" src="/img/carr1.png" class="d-block" alt="..." /></a>
      
              </div>
              <div class="carousel-item">
                <a href=""><img height="600 px" width="80%" src="/img/carr2.png" class="d-block w-100" alt="..."></a>
      
              </div>
              <div class="carousel-item">
                <a href=""><img height="600 px" width="90%" src="/img/carr3.png" class="d-block w-100" alt="..."></a>
      
              </div>
              <div class="carousel-item">
                <a href=""><img height="600 px" width="90%" src="/img/carr4.png" class="d-block w-100" alt="..."></a>
      
              </div>
              <div class="carousel-item">
                <a href=""><img height="600 px" width="90%" src="/img/carr5.png" class="d-block w-100" alt="..."></a>
      
              </div>
              <div class="carousel-item">
                <a href=""><img height="600 px" width="90%" src="/img/carr6.png" class="d-block w-100" alt="..."></a>
      
              </div>
              <div class="carousel-item">
                <a href=""><img height="600 px" width="90%" src="/img/carr7.png" class="d-block w-100" alt="..."></a>
      
              </div>
              <div class="carousel-item">
                <a href=""><img height="600 px" width="90%" src="/img/carr8.png" class="d-block w-100" alt="..."></a>
      
              </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next " href="#carouselExampleCaptions" role="button" data-slide="next">
              <span class="carousel-control-next-icon " aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
         <br>
       </div>
       
       <footer>
               
        <div class="container-footer-all">
         
             <div class="container-body">
 
                 <div class="colum1">
                     <h1>If you are interested in the following services:</h1>
                     <ul class="list2">
                      <li>Web page creation with a great responsive design</li>
                      <li>Database system either SQL or MongoDB</li>
                      <li>Great JavaScript Development</li>
                      <li>Programación Backend Development through NodeJS</li>
                      <li>Connection between web pages and SQL through PHP</li>
                     </ul>
                              
                 </div>
 
                 
 
                 <div class="colum2">
 
                     <h1>Feel free to contact me:</h1>
 
                     <div class="row2">
                         <img src="/img/house.png">
                         <label>Bogotá-Colombia</label>
                     </div>
 
                     <div class="row2">
                         <img src="/img/smartphone.png">
                         <label>+571 3111111111</label>
                     </div>
 
                     <div class="row2">
                         <img src="/img/contact.png">
                          <label>2020@gmail.com</label>
                     </div>
 
                 </div>
 
             </div>
         
         </div>
         
         <div class="container-footer">
                <div class="footer">
                     <div class="copyright">
                     Copyright © 2020 All Rights Reserved | Lorena Sánchez
                     </div>
 
                 </div>
 
             </div>
         
     </footer>
<script>
  /* window.onscroll = function(){FondoScroll()};
  let navbarJs = document.getElementById('navjs');
  var altura = screen.height - 450;
  function FondoScroll() {
    if (window.pageYOffset >= altura) {
      navbarJs.classList.add('fondoNav');
      navbarJs.classList.remove('navbarAddition');
    }else{
      navbarJs.classList.remove('fondoNav');
      navbarJs.classList.add('navbarAddition');
    }
  } */
  window.onscroll = function(){FondoScroll()};
  let navbarJs = document.getElementById('navjs');
  
  function FondoScroll() {
    if (window.pageYOffset >= 1) {
      navbarJs.classList.add('fondoNav');
      navbarJs.classList.remove('navbarAddition');
    }else{
      navbarJs.classList.remove('fondoNav');
      navbarJs.classList.add('navbarAddition');
    }
  }
</script>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>

</html>